.awards {
	display: grid;
	grid-template-columns: 60% 40%;
	position: relative;

	div {
		&:first-child {
			background: url(../assets/img/office.jpg) center/cover;
			display: flex;
			flex-direction: column;
			justify-content: end;
			padding: 80px 150px;
			height: 850px;

			h4 {
				font-size: 2rem;
				font-weight: bolder;
				margin: 0 0 20px 10px;
			}

			ul {
				display: flex;

				li {
					border: 2px solid $border-color2;
					color: $font-color4;
					padding: 10px;
					margin: 0 10px 0;
				}
			}
			@media (max-width: 1000px) {
				height: 100%;
				padding: 30px;
			}
			@media (max-width: 700px) {
				display: none;
			}
		}

		&:nth-child(2) {
			background: $bg-color1;
			color: $font-color1;
			padding: 50px;
			position: absolute;
			width: 40%;
			right: 0;
			top: -5%;
			height: 110%;

			h4 {
				font-size: 2rem;
				font-weight: bolder;
			}

			ul {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;

				li {
					padding: 30px 20px 30px 0;
					line-height: 30px;
					border-bottom: 1px solid $border-color1;
				}
			}

			button {
				@include greenButton;
				color: $font-color1;
			}

			@media (max-width: 1000px) {
				position: static;
				height: 100%;
				width: 100%;
			}
		}
	}
	@media (max-width: 700px) {
		display: flex;
	}
}
