footer {
	display: grid;
	grid-template-columns: 40% 60%;

	.footer-title {
		display: flex;
		flex-direction: column;
		align-items: space-between;
		padding: 100px 150px;

		img {
			margin-bottom: 300px;
		}

		p {
			color: $uni-color1;
			font-size: 0.8rem;
		}
	}

	.link {
		display: flex;
		justify-content: space-evenly;
		div {
			margin-top: 100px;
			&:nth-child(4) {
				margin-top: 130px;
			}
		}

		h6 {
			font-size: 0.9rem;
			margin-bottom: 10px;
		}
		ul {
			li {
				color: $uni-color1;
				font-size: 0.8rem;
				line-height: 30px;
				transition: 0.2s;

				&:hover {
					cursor: pointer;
					color: $font-color3;
				}
			}
		}
	}
}
