header {
	background: linear-gradient(
			180deg,
			rgba(0, 0, 0, 0.2) 10%,
			rgba(0, 255, 0, 0) 90%
		),
		url(../assets/img/01.272.07.005.jpg) center/cover;
	height: 100vh;

	div:first-child {
		display: flex;
		flex-direction: column;
		justify-content: end;
		height: 90vh;

		color: $font-color1;
		margin: 0 auto;
		width: 80%;

		h2 {
			font-weight: 900;
			font-size: 3rem;
		}

		div {
			display: flex;
			justify-content: space-between;
			margin-top: 30px;
			font-size: 1.2rem;
		}

		@media (max-width: 1240px) {
			div {
				flex-direction: column;
			}
		}
		@media (max-width: 500px) {
			h2 {
				font-size: 1.6rem;
			}
		}
	}
}
