nav {
	position: absolute;
	top: 0px;

	display: grid;
	grid-template-columns: 50% 50%;
	width: 100%;
	padding: 75px 10%;
	color: $font-color1;

	&:nth-child(1) {
		img {
			filter: invert(99%) sepia(86%) saturate(444%) hue-rotate(209deg)
				brightness(114%) contrast(100%);
		}
	}

	ul {
		display: flex;
		justify-content: space-around;
		align-items: center;

		li {
			border-bottom: 3px solid transparent;
			transition: 0.5s;

			&:hover {
				cursor: pointer;
				border-bottom: 3px solid $border-color1;
			}
			i {
				transform: rotate(90deg);
			}

			&:nth-child(6) {
				&:hover {
					border-bottom: 3px solid transparent;
				}
			}
		}
	}

	@media (max-width: 800px) {
		div {
			&:nth-child(2) {
				display: none;
			}
		}
	}
}
