.section3 {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 250px 0 150px;

	div {
		&:first-child {
			display: flex;
			align-items: center;
			position: relative;

			img {
				width: 75%;
			}

			&::after {
				content: " ";
				position: absolute;
				height: 700px;
				width: 450px;
				left: 250px;
				top: -80px;
				background: url(../../assets/img/National-September11-Memorial-1.jpg)
					center/cover;
				filter: grayscale(100%);
				z-index: -5;
			}
		}
		&:nth-child(2) {
			display: flex;
			flex-direction: column;
			justify-content: center;
			width: 100%;
			padding: 0 15%;
			right: 0px;

			h4 {
				font-size: 1.8rem;
			}

			p {
				margin-top: 10px;
				font-size: 1rem;
				line-height: 30px;
			}

			button {
				@include greenButton;
			}

			#first-btn-sec3 {
				width: 305px;
			}

			#second-btn-sec3 {
				width: 230px;
			}
		}
	}
}
