.section2 {
	display: grid;
	grid-template-columns: 50% 50%;
	margin: 250px 0 100px;

	div {
		&:first-child {
			display: flex;
			flex-direction: column;
			justify-content: center;
			padding: 0 15% 0 20%;

			h4 {
				font-size: 1.8rem;
			}

			p {
				margin-top: 10px;
				font-size: 1rem;
				line-height: 30px;
			}

			button {
				@include greenButton;
				width: 440px;
			}
		}
		&:nth-child(2) {
			display: flex;
			align-items: center;
			position: relative;

			img {
				width: 75%;
				filter: grayscale(100%);
				z-index: -5;
			}

			&::after {
				content: " ";
				position: absolute;
				height: 375px;
				width: 600px;
				right: 100px;
				top: 50px;
				background: url(../../assets/img/Sendero-Verde-3.jpg)
					center/cover;
			}
		}
	}
}
