// FONTS

@font-face {
	font-family: "title-font";
	src: url(../assets/fonts/MerriweatherSans-Bold.ttf);
}
@font-face {
	font-family: "font-1";
	src: url(../assets/fonts/Poppins-Light.ttf);
}

$title-font: "title-font", sans-serif;
$font-1: "font-1", sans-serif;

// COLORS

$font-color1: white;
$font-color2: black;
$font-color3: rgb(59, 217, 190);
$font-color4: rgb(21, 43, 58);
$font-color5: rgb(169, 184, 193);
$font-color6: rgb(116, 129, 137);

$border-color1: rgb(128, 230, 213);
$border-color2: rgb(0, 24, 40);
$border-color3: rgb(216, 216, 216);

$bg-color1: rgb(0, 205, 170);

$uni-color1: rgb(146, 165, 177);

// MIXIN

@mixin magic-border($width, $color, $duration, $direction) {
	position: relative;
	&:before {
		content: "";
		position: absolute;
		width: calc(100% + #{$width * 2});
		height: calc(100% + #{$width * 2});
		top: calc(#{$width}/ -1);
		left: calc(#{$width}/ -1);
		background: linear-gradient(to right, $color 0%, $color 100%),
			linear-gradient(to top, $color 50%, transparent 50%),
			linear-gradient(to top, $color 50%, transparent 50%),
			linear-gradient(to right, $color 0%, $color 100%),
			linear-gradient(to left, $color 0%, $color 100%);
		background-size: 100% $width, $width 200%, $width 200%, 0% $width,
			0% $width;
		background-position: 50% 100%, 0% 0%, 100% 0%, 100% 0%, 0% 0%;
		background-repeat: no-repeat, no-repeat;
		transition: transform $duration ease-in-out,
			background-position $duration ease-in-out,
			background-size $duration ease-in-out;
		transform: scaleX(0) rotate(180deg * $direction);
		transition-delay: $duration * 2, $duration, 0s;
	}
	&:hover {
		cursor: pointer;
		&:before {
			background-size: 200% $width, $width 400%, $width 400%, 55% $width,
				55% $width;
			background-position: 50% 100%, 0% 100%, 100% 100%, 100% 0%, 0% 0%;
			transform: scaleX(1) rotate(180deg * $direction);
			transition-delay: 0s, $duration, $duration * 2;
		}
	}
}
@mixin greenButton {
	border: none;
	background: none;
	color: $font-color3;
	font-size: 1.2rem;
	margin-top: 20px;
	text-align: left;

	@include magic-border(2px, $font-color3, 0.2s, 0);
}

// GLOBAL SETTINGS

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul {
	list-style: none;
}

body {
	font-family: $font-1;
}
